<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="javascripts/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript" src="javascripts/socket.io.min.js"></script>	
</head>
<body>
<h4>Index</h4>
<input type="text" style="width: 80vw;" id="story_input"/><input type="button" style="width: 18vw;" id="story_input_button" value="Send"/>
<div id="result"></div>
<script type="text/javascript">
    //var socket = io.connect('http://' + document.domain + ':' + location.port);
	var socket = io.connect();

    socket.on('connect', function () {
	  var story_button = $('#story_input_button').on('click',function(e){
		let story_input = $('#story_input').val()
		if(story_input!=""){
			socket.emit('data_to_server',{ message : story_input })
			$('#story_input').val("")
		}
		else
			alert("Please Enter Some Data before Sending!....")
	  })
    })
	
	socket.on('data_to_client', function (msg) {
      if(typeof msg.message !== 'undefined')
		$("#result").append("<h6>New Notification</h6>&emsp;MESSAGE : "+msg.message)
	  else{
		console.log("Some data was received!.....")
		console.log(msg)
		return
	  }
	  if(typeof msg.status !== 'undefined')
		$("#result").append("<br/>&emsp;STATUS : "+msg.status)
	  if(typeof msg.data !== 'undefined')
		$("#result").append("<br/>&emsp;DATA : "+msg.data)
    })
</script>
</body>
</html>